<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gloogloo</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<audio id="clickSound" th:src="@{/Gloogloo.mp3}" preload="auto"></audio>

<div class="nav">
    <a href="/insert-url">Insert Urls</a>
    <a href="/url-connections">Check Url Connections</a>
    <a href="/statistics">Statistics</a>
</div>

<div class="logo">
    <span class="blue">G</span>
    <span class="red">l</span>
    <span class="yellow">o</span>
    <span class="blue">o</span>
    <span class="green">g</span>
    <span class="red">l</span>
    <span class="yellow">o</span>
    <span class="blue">o</span>
</div>

<form th:action="@{/index}" method="get">
    <input type="text" class="search-box" name="input" placeholder="Explore the Web with Gloogloo" required>

    <div class="checkbox-container">
        <label>
            <input type="checkbox" name="hackerNews" value="on">
            Insert URLs from Hacker News Top Stories
        </label>
        
        <label>
            <input type="checkbox" name="ResultOpenAI" value="on">
            OpenAI Search
        </label>
    </div>

    <div class="buttons">
        <button class="button" type="submit">Gloogloo Search</button>
    </div>
</form>

<script>document.addEventListener('DOMContentLoaded', function () {
    const searchButton = document.querySelector('.button:first-child');
    const searchInput = document.querySelector('input[name="input"]');
    const form = searchButton.closest('form');

    console.log("Script loaded");

    searchButton.addEventListener('click', function (event) {
        const inputValue = searchInput.value.trim();

        // If the input value is empty, show an alert and prevent form submission
        if (!inputValue) {
            alert("Please, insert a search term.");
            event.preventDefault(); // prevent submission for validation
            return;
        }

        // Proceed with form submission if input is valid
        form.submit();
    });
});</script>

</body>
</html>
