<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gloogloo - URL Connections</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>

<div class="nav">
    <a href="/index">Search</a>
    <a href="/insert-url">Check Url Connections</a>
    <a href="/statistics">Statistics</a>
</div>

<div class="logo">
    <span class="blue">G</span>
    <span class="red">l</span>
    <span class="yellow">o</span>
    <span class="blue">o</span>
    <span class="green">g</span>
    <span class="red">l</span>
    <span class="yellow">o</span>
    <span class="blue">o</span>
</div>

<!-- URL Input Form -->
<form th:action="@{/url-connections}" method="get">
    <input type="text" class="search-box" name="input" placeholder="Enter URL" required>
    <div class="buttons">
        <button class="button" type="submit">Check URL Connections</button>
    </div>
</form>

<!-- Display Error Pop-Up using JavaScript -->
<script>
    // Check for any error message in the URL
    const errorMessage = /*[[${error}]]*/'';
    
    if (errorMessage) {
        alert(errorMessage); // Show an alert with the error message
    }
</script>

<script th:src="@{/script.js}"></script>
</body>
</html>
